<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crossfit Targu Mures</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="navigation">
      <img src="./images/logo-2-crossfit.png" alt="Logo Crossfit" />

      <ul class="meniu">
        <li><a href="https://crossfittargumures.ro/">Home</a></li>
        <li>
          <a href="https://crossfittargumures.ro/ce-este-crossfit/"
            >About Crossfit</a
          >
        </li>
        <li>
          <a href="https://crossfittargumures.ro/antrenori/">Trainers </a>
        </li>
        <li><a href="https://crossfittargumures.ro/clase/">Classes</a></li>
        <li>
          <a href="https://crossfittargumures.ro/orar-si-programari/"
            >Appointments</a
          >
        </li>
        <li><a href="https://crossfittargumures.ro/contact/">Contact Us</a></li>
      </ul>
      <div class="phone">
        &#9743
        0740 019 196
      </div>
    </header>
    
  <div class="image-container">
          <img  src="./images/MG_2015-1024x682.jpg" alt="grafitti" class="grafitti"/>
          <img src="./images/1000_F_348488644_pwJuWLaz7xGKUwTiODJmhogLOxzCIAVy.jpg" alt="Join our team" class="join-our-team">
  </div>
  <div class="main-container">

    <aside class="quote">
    LEAVE YOUR COMFORT ZONE! <br> YOU WILL SEE ME STRUGGLE, BUT YOU WILL NEVER SEE ME QUIT!
    <img src="./images/Wall_Ball_Shot.jpg" alt="Wall Ball exercise" class="wall-ball">
    </aside>  

    <article class="general-presentation">
      
        <h1>
          Ce este Crossfit
        </h1>
      
      CrossFit este un program de pregătire fizică generală constituit din mișcări funcționale executate cu o intensitate ridicată ce variază constant. Adică un program care îți solicită toate cele zece abilități fizice generale: Anduranță Cardiovascular-Respiratorie, Acuratețe, Agilitate, Coordonare, Echilibru, Flexibilitate, Forță, Putere, Rezistență, Viteză. În prezent, CrossFit reprezintă cea mai complexă metodă de fitness.
      <br>
      <br>
      CrossFit este un sport: sportul fitness-ului. Am învățat că valorificând camaraderia, competiția și amuzamentul ce rezultă din sport sau joc, obținem o intensitate ce nu poate fi atinsă prin alte mijloace.
      <br>
      <br>
      Scopul unui antrenament de CrossFit este de a crea un program general și complex de fitness, program care prepară sportivul pentru orice eveniment fizic neprevăzut. Aruncând o privire de ansamblu la toate sporturile și la toate sarcinile fizice ale unui om, ne-am întrebat ce abilități fizice și de adaptare sunt necesare pentru a crea un avantaj competitiv și performanță. Informația culeasă din intersecția tuturor cerințelor sportive se aplică, în cel mai logic mod posibil, tuturor sporturilor. Cu alte cuvinte, specialitatea CrossFit este de a nu se specializa.
      <br>
      <br>
      Este CrossFit pentru oricine?
      <br>
      <br>
      Bineînțeles! Nevoile unui om obișnuit din punct de vedere sportiv și ale atleților olimpici diferă doar prin grad și nu prin fel. Cele zece abilități fizice generale sunt necesare atleților de calibru cât și oamenilor în vârstă. Este evident că nu vom încărca un vârstnic sau un om care nu a mai practicat sport cu aceeași greutate să facă genoflexiuni cum vom încărca un schior olimpic dar toți trebuie să le facă.
      <br>
      <br>
      CrossFit este singurul program de fitness care a definit noțiunea de fitness într-un mod care poate fi măsurabil, observabil și repetabil.
      
    </article>
  </div>
<br><br><br>
  <footer>
    <div class="location">
     <h3>
      Contact Location
     </h3>  
     <i class="fa fa-map-marker" style="font-size:24px"></i>
     Str. Livezeni nr. 2, Târgu Mureș
    </div>      

    <div class="social-media">
    <a href="https://www.facebook.com/CrossFitTGM/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/crossfittgm" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/crossfittargumures/" class="fa fa-instagram"></a>
    <a href="https://www.youtube.com/channel/UCMu8HIgItxPviIr3n1gTXzw" class="fa fa-youtube"></a>
    </div>

    <div contact>
      <i class="fa fa-phone" style="font-size:24px"></i> 0740 019 196 <br>
      <i class="fa fa-envelope" style="font-size:24px"></i> crossfittgms@gmail.com
    </div>
  </footer>

  </body>
</html>
